.Stepper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;

  @media (max-width: 500px) {
    margin: 0;
  }

  .point {
    margin: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);

    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }

    &.active {
      background: rgba(255, 255, 255, 0.7);
    }
  }

}