.TestSlideComponent {
  height: 90%;
  width: 90%;
  color: #FFF;
  font-size: 25px;
  user-select: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}